<div class="card-detail" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="14px">
  <div class="poster">
    <img *ngIf="movie?.poster_path" [src]="IMG_BASE_PATH + movie?.poster_path" alt="">
  </div>
  <div fxLayout="column">
    <h4>{{movie?.title}}</h4>
    <p>{{movie?.overview}}</p>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
  <button routerLink="/movie">Retour</button>
  <p fxFlexOffset="4">Now copie <strong>{{currentUrl}}</strong> and try to share it on facebook, twitter, linkedin, slackbot etc...</p>
</div>

